In [3]:
from pyspark.sql import SparkSession

# Reading CSV Files with spark

In [5]:
spark = SparkSession.builder.getOrCreate()
spark

In [13]:
data_path = '/Users/taehyun/Dropbox/Springboard/NYC_Capstone_project/Spark/Exercise Files/Data'

In [34]:
file_path = data_path + '/location_temp.csv'
df1 = spark.read.format("csv").option('header','true').load(file_path)
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [17]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [19]:
print("row:",df1.count())

row: 500000

In [48]:
file_path_no_header = data_path +'/utilization.csv'
df2 = spark.read.format('csv').option('header','false').option('inferSchema','true').load(file_path_no_header)
df2.count()

500000

In [36]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [37]:
df2.show()

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41| 0.4| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51| 0.6| 45|
|03/05/2019 08:56:14|100|0.32|0.37| 47|
|03/05/2019 09:01:14|100|0.62|0.59| 60|
|03/05/2019 09:06:14|100|0.66|0.72| 57|
|03/05/2019 09:11:14|100|0.54|0.54| 44|
|03/05/2019 09:16:14|100|0.29| 0.4| 47|
|03/05/2019 09:21:14|100|0.43|0.68| 66|
|03/05/2019 09:26:14|100|0.49|0.66| 65|
|03/05/2019 09:31:14|100|0.64|0.55| 66|
|03/05/2019 09:36:14|100|0.42| 0.6| 42|
|03/05/2019 09:41:14|100|0.55|0.59| 63|
+-------------------+---+----+----+---+
only showing top 20 rows

In [38]:
df2 = df2.withColumnRenamed("_c0",'event_datetime') \
            .withColumnRenamed('_c1','server_id') \
            .withColumnRenamed('_c2','cpu_utilization') \
            .withColumnRenamed('_c3','free_memory') \
            .withColumnRenamed('_c4','session_count')

In [39]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

# Json File

In [44]:
from pyspark.sql import SparkSession

In [45]:
spark = SparkSession.builder.getOrCreate()

In [46]:
data_path = '/Users/taehyun/Dropbox/Springboard/NYC_Capstone_project/Spark/Exercise Files/Data'

In [49]:
json_df1_path = data_path + '/utlization.json'
df1 = spark.read.format('json').load(json_df1_path)
df1.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

# Basic dataframes

In [61]:
df1.count()

500000

In [62]:
df1.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [65]:
# without replacement
df1_sample = df1.sample(False, fraction = 0.1)
df1_sample.count()

49868

In [68]:
df1_sort = df1_sample.sort('event_datetime')
df1_sort.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.64|03/05/2019 08:06:26|       0.55|      107|           56|
|            0.7|03/05/2019 08:06:29|       0.59|      109|           77|
|           0.48|03/05/2019 08:06:33|       0.25|      111|           70|
|           0.78|03/05/2019 08:06:45|       0.45|      118|           68|
|           0.41|03/05/2019 08:07:31|       0.45|      143|           37|
|           0.75|03/05/2019 08:11:33|       0.28|      111|           48|
|           0.65|03/05/2019 08:11:58|       0.12|      126|           83|
|           0.34|03/05/2019 08:12:13|       0.64|      134|           73|
|           0.64|03/05/2019 08:12:23|        0.3|      139|           96|
|           0.74|03/05/2019 08:12:37|       0.32|      146|           84|
|           0.62|03/05/2019 08:16:24|       0.58|      106|           36|
|           0.73|03/05/2019 08:16:26|       0.28|      107|           61|
|           0.55|03/05/2019 08:16:40|        0.4|      115|           64|
|           0.75|03/05/2019 08:16:45|       0.23|      118|           82|
|           0.89|03/05/2019 08:16:50|       0.49|      121|           90|
|           0.76|03/05/2019 08:17:07|       0.41|      131|           63|
|           0.63|03/05/2019 08:17:21|       0.63|      138|           41|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.88|03/05/2019 08:21:16|       0.39|      101|           83|
|            0.8|03/05/2019 08:21:21|       0.36|      104|           94|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

# Filtering

In [73]:
df1 = spark.read.format('csv').option('header','true').load(file_path)

In [74]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [78]:
df1.filter(df1['location_id'] == 'loc0').count()

1000

In [79]:
df1.filter(df1['location_id'] == 'loc1').count()

1000

# Aggregating with dataframe API

In [81]:
df1.groupby('location_id').count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|      loc22| 1000|
|      loc31| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc122| 1000|
|      loc24| 1000|
|      loc30| 1000|
|     loc105| 1000|
|      loc96| 1000|
|     loc102| 1000|
|      loc18| 1000|
|      loc27| 1000|
|     loc143| 1000|
|      loc43| 1000|
|     loc123| 1000|
|      loc15| 1000|
|      loc48| 1000|
+-----------+-----+
only showing top 20 rows

In [83]:
df1.orderBy('location_id').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

In [84]:
df1.groupby('location_id').agg({'temp_celcius':'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|      loc22|           28.251|
|      loc31|           25.196|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc122|            32.36|
|      loc24|           31.109|
|      loc30|           30.211|
|     loc105|           26.217|
|      loc96|           28.138|
|     loc102|           30.327|
|      loc18|           30.198|
|      loc27|           31.239|
|     loc143|           28.213|
|      loc43|           32.196|
|     loc123|           23.424|
|      loc15|           32.171|
|      loc48|           30.244|
+-----------+-----------------+
only showing top 20 rows

In [85]:
df1.groupby('location_id').agg({'temp_celcius':'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|       loc0|               36|
|       loc1|               35|
|      loc10|               32|
|     loc100|               34|
|     loc101|               32|
|     loc102|               37|
|     loc103|               32|
|     loc104|               33|
|     loc105|               33|
|     loc106|               34|
|     loc107|               40|
|     loc108|               39|
|     loc109|               31|
|      loc11|               32|
|     loc110|               33|
|     loc111|               38|
|     loc112|               40|
|     loc113|               37|
|     loc114|               36|
|     loc115|               30|
+-----------+-----------------+
only showing top 20 rows

In [86]:
df1.count()

500000

In [89]:
df1_s1 = df1.sample(fraction = 0.1, withReplacement = False)
df1_s1.count()

50079

In [90]:
df1_s1.groupby('location_id').agg({'temp_celcius':'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|      loc22|28.138297872340427|
|      loc31| 25.30841121495327|
|      loc82| 27.26732673267327|
|      loc90|23.451612903225808|
|     loc118|              24.0|
|      loc39| 25.08433734939759|
|      loc75|22.873684210526317|
|     loc122| 32.25555555555555|
|      loc24| 31.21904761904762|
|      loc30|30.066666666666666|
|     loc105|26.074468085106382|
|      loc96|             28.17|
|     loc102|30.186046511627907|
|      loc18|29.853211009174313|
|      loc27| 31.77310924369748|
|     loc143|28.351063829787233|
|      loc43|          32.09375|
|     loc123|23.517857142857142|
|      loc15|32.279661016949156|
|      loc48| 29.81451612903226|
+-----------+------------------+
only showing top 20 rows

In [93]:
df1_s1.groupby('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.644444444444446|
|       loc1|28.275862068965516|
|      loc10|25.626262626262626|
|     loc100|27.198275862068964|
|     loc101|25.591397849462364|
|     loc102|30.186046511627907|
|     loc103|          25.15625|
|     loc104| 25.92929292929293|
|     loc105|26.074468085106382|
|     loc106| 27.35238095238095|
+-----------+------------------+
only showing top 10 rows

# Save Data From DataFrames

In [94]:
df1.write.csv('df1.csv')

In [96]:
! ls df1.csv

_SUCCESS
part-00000-272f99f2-57ce-4b31-adfc-d03f45ffde83-c000.csv
part-00001-272f99f2-57ce-4b31-adfc-d03f45ffde83-c000.csv
part-00002-272f99f2-57ce-4b31-adfc-d03f45ffde83-c000.csv
part-00003-272f99f2-57ce-4b31-adfc-d03f45ffde83-c000.csv

In [98]:
! head df1.csv/part-00000-272f99f2-57ce-4b31-adfc-d03f45ffde83-c000.csv

03/04/2019 19:48:06,loc0,29
03/04/2019 19:53:06,loc0,27
03/04/2019 19:58:06,loc0,28
03/04/2019 20:03:06,loc0,30
03/04/2019 20:08:06,loc0,27
03/04/2019 20:13:06,loc0,27
03/04/2019 20:18:06,loc0,27
03/04/2019 20:23:06,loc0,29
03/04/2019 20:28:06,loc0,32
03/04/2019 20:33:06,loc0,35

In [99]:
df1.write.json('df1.json')

In [100]:
! ls df1.json

_SUCCESS
part-00000-c910d211-e0cf-445f-bbf1-0670c8bed2b4-c000.json
part-00001-c910d211-e0cf-445f-bbf1-0670c8bed2b4-c000.json
part-00002-c910d211-e0cf-445f-bbf1-0670c8bed2b4-c000.json
part-00003-c910d211-e0cf-445f-bbf1-0670c8bed2b4-c000.json

In [101]:
! head df1.json/part-00000-c910d211-e0cf-445f-bbf1-0670c8bed2b4-c000.json

{"event_date":"03/04/2019 19:48:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 19:53:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 19:58:06","location_id":"loc0","temp_celcius":"28"}
{"event_date":"03/04/2019 20:03:06","location_id":"loc0","temp_celcius":"30"}
{"event_date":"03/04/2019 20:08:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:13:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:18:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:23:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 20:28:06","location_id":"loc0","temp_celcius":"32"}
{"event_date":"03/04/2019 20:33:06","location_id":"loc0","temp_celcius":"35"}

# SQL for DataFrame

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
    .builder \
    .appName('Spark SQL Query DataFrame') \
    .getOrCreate()

22/11/01 08:31:56 WARN Utils: Your hostname, Taehyuns-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.29 instead (on interface en0)
22/11/01 08:31:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/01 08:31:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data_path = '/Users/taehyun/Dropbox/Springboard/NYC_Capstone_project/Spark/Exercise Files/Data'

In [6]:
json_df2_path = data_path + '/utlization.json'
df = spark.read.format('json').load(json_df2_path)
df.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [7]:
df.count()

500000

In [8]:
df.createOrReplaceTempView('utilization')

In [11]:
df_sql = spark.sql('SELECT * FROM utilization LIMIT 10')

In [13]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [14]:
df_sql.count()

10

In [16]:
df_sql = spark.sql('select server_id, session_count from utilization limit 10')

In [17]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [19]:
df_sql = spark.sql('select server_id as sid, session_count as sc from utilization')
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
|100| 47|
|100| 60|
|100| 57|
|100| 44|
|100| 47|
|100| 66|
|100| 65|
|100| 66|
|100| 42|
|100| 63|
+---+---+
only showing top 20 rows

In [20]:
df.createOrReplaceTempView('utilization')

In [24]:
df_sql = spark.sql('select * \
                    from utilization \
                    where server_id = 120')
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [25]:
df_sql.count()

10000

In [26]:
df_sql = spark.sql('select server_id, session_count from utilization \
                    where session_count > 70')

In [27]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
+---------+-------------+
only showing top 20 rows

In [28]:
df_sql.count()

239659

df.show()

In [38]:
df_sql = spark.sql('select server_id,session_count,cpu_utilization, Rank() over(partition by server_id order by session_count desc) as rank from utilization where cpu_utilization >0.5')
df_sql.show()

+---------+-------------+---------------+----+
|server_id|session_count|cpu_utilization|rank|
+---------+-------------+---------------+----+
|      103|          101|           0.63|   1|
|      103|          101|           0.81|   1|
|      103|          101|           0.96|   1|
|      103|          101|           0.72|   1|
|      103|          101|           0.92|   1|
|      103|          101|           0.65|   1|
|      103|          101|           0.57|   1|
|      103|          101|           0.79|   1|
|      103|          101|            0.9|   1|
|      103|          101|           0.78|   1|
|      103|          101|           0.67|   1|
|      103|          101|           0.62|   1|
|      103|          101|           0.72|   1|
|      103|          101|           0.93|   1|
|      103|          101|           0.62|   1|
|      103|          101|           0.62|   1|
|      103|          101|           0.58|   1|
|      103|          101|           0.57|   1|
|      103|          101|            0.6|   1|
|      103|          101|            0.8|   1|
+---------+-------------+---------------+----+
only showing top 20 rows

# Joining Data

In [41]:
json_df_path = data_path + '/utlization.json'
df_util = spark.read.format('json').load(json_df_path)
df_util.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [42]:
df_util.createOrReplaceTempView('utilization')

In [43]:
csv_df_path = data_path + '/server_name.csv'
df_server = spark.read.csv(csv_df_path, header = True)

In [44]:
df_server.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [45]:
df_server.createOrReplaceTempView('server')

In [47]:
utilize = spark.sql('Select * from Utilization')
utilize.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [71]:
utilize = spark.sql('Select * from Utilization')
utilize.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [73]:
utilize.createOrReplaceTempView('utilize')

In [68]:
serv = spark.sql('Select * from server')
serv.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [76]:
serv.createOrReplaceTempView('serv')

In [78]:
df_join = spark.sql('select *  \
                    from utilize u \
                    join serv s \
                    on u.server_id = s.server_id')

In [79]:
df_join.show()

+---------------+-------------------+-----------+---------+-------------+---------+-----------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|server_id|server_name|
+---------------+-------------------+-----------+---------+-------------+---------+-----------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|      100| 100 Server|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|      100| 100 Server|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|      100| 100 Server|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|      100| 100 Server|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|      100| 100 Server|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|      100| 100 Server|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|      100| 100 Server|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|      100| 100 Server|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|      100| 100 Server|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|      100| 100 Server|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|      100| 100 Server|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|      100| 100 Server|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|      100| 100 Server|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|      100| 100 Server|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|      100| 100 Server|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|      100| 100 Server|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|      100| 100 Server|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|      100| 100 Server|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|      100| 100 Server|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|      100| 100 Server|
+---------------+-------------------+-----------+---------+-------------+---------+-----------+
only showing top 20 rows

# Eliminating duplicates in DataFrames

In [100]:
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.getOrCreate()
sc=spark.sparkContext

In [101]:
#Let's specify rows and name server. sc.parallelize 
#when we want to make our own dataframe!
from pyspark.sql import Row
df_dup = sc.parallelize([Row(server_name = '102 Server', cpu_utilization = 85, session_count = 80),
                         Row(server_name = '102 Server', cpu_utilization = 80, session_count = 90), 
                         Row(server_name = '103 Server', cpu_utilization = 85, session_count = 80), 
                         Row(server_name = '104 Server', cpu_utilization = 85, session_count = 80)]).toDF()

In [102]:
df_dup.show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 102 Server|             85|           80|
| 102 Server|             80|           90|
| 103 Server|             85|           80|
| 104 Server|             85|           80|
+-----------+---------------+-------------+

In [103]:
df_dup.drop_duplicates().show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 102 Server|             85|           80|
| 102 Server|             80|           90|
| 103 Server|             85|           80|
| 104 Server|             85|           80|
+-----------+---------------+-------------+

In [104]:
df_dup.drop_duplicates(['server_name']).show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 102 Server|             85|           80|
| 103 Server|             85|           80|
| 104 Server|             85|           80|
+-----------+---------------+-------------+

# NA values

In [110]:
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [111]:
df_dup.show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 102 Server|             85|           80|
| 102 Server|             80|           90|
| 103 Server|             85|           80|
| 104 Server|             85|           80|
+-----------+---------------+-------------+

In [113]:
df_na = df_dup.withColumn('na_col',lit(None).cast(StringType()))

In [114]:
df_na.show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 102 Server|             85|           80|  null|
| 102 Server|             80|           90|  null|
| 103 Server|             85|           80|  null|
| 104 Server|             85|           80|  null|
+-----------+---------------+-------------+------+

In [115]:
df_na.fillna('A').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 102 Server|             85|           80|     A|
| 102 Server|             80|           90|     A|
| 103 Server|             85|           80|     A|
| 104 Server|             85|           80|     A|
+-----------+---------------+-------------+------+

In [116]:
df2 = df_na.fillna('A').union(df_na)
df2

DataFrame[server_name: string, cpu_utilization: bigint, session_count: bigint, na_col: string]

In [118]:
df2.show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 102 Server|             85|           80|     A|
| 102 Server|             80|           90|     A|
| 103 Server|             85|           80|     A|
| 104 Server|             85|           80|     A|
| 102 Server|             85|           80|  null|
| 102 Server|             80|           90|  null|
| 103 Server|             85|           80|  null|
| 104 Server|             85|           80|  null|
+-----------+---------------+-------------+------+

In [119]:
df2.na.drop().show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 102 Server|             85|           80|     A|
| 102 Server|             80|           90|     A|
| 103 Server|             85|           80|     A|
| 104 Server|             85|           80|     A|
+-----------+---------------+-------------+------+

In [120]:
df2.createOrReplaceTempView('na_table')

In [121]:
spark.sql('select * from na_table').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 102 Server|             85|           80|     A|
| 102 Server|             80|           90|     A|
| 103 Server|             85|           80|     A|
| 104 Server|             85|           80|     A|
| 102 Server|             85|           80|  null|
| 102 Server|             80|           90|  null|
| 103 Server|             85|           80|  null|
| 104 Server|             85|           80|  null|
+-----------+---------------+-------------+------+

In [123]:
spark.sql('select * from na_table where na_col is null').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 102 Server|             85|           80|  null|
| 102 Server|             80|           90|  null|
| 103 Server|             85|           80|  null|
| 104 Server|             85|           80|  null|
+-----------+---------------+-------------+------+

# Exploratory data analysis with dataframe

In [126]:
df_util.createOrReplaceTempView('utilization')

In [127]:
df_util.describe().show()

+-------+-------------------+-------------------+-------------------+------------------+------------------+
|summary|    cpu_utilization|     event_datetime|        free_memory|         server_id|     session_count|
+-------+-------------------+-------------------+-------------------+------------------+------------------+
|  count|             500000|             500000|             500000|            500000|            500000|
|   mean| 0.6205177399999957|               null|0.37912809999999864|             124.5|          69.59616|
| stddev|0.15875173872912945|               null|0.15830931278376276|14.430884120553191|14.850676696352851|
|    min|               0.22|03/05/2019 08:06:14|                0.0|               100|                32|
|    max|                1.0|04/09/2019 01:22:46|               0.78|               149|               105|
+-------+-------------------+-------------------+-------------------+------------------+------------------+

In [128]:
df_util.stat.corr('cpu_utilization','free_memory')

-0.4704771573080754

In [130]:
df_util.stat.corr('session_count','free_memory')

-0.5008320848876573

In [133]:
#Shows most frequently occuring items.
df_util.stat.freqItems(('server_id','session_count')).show()

+--------------------+-----------------------+
| server_id_freqItems|session_count_freqItems|
+--------------------+-----------------------+
|[137, 146, 101, 1...|   [92, 101, 83, 104...|
+--------------------+-----------------------+

In [136]:
df_util_sample = df_util.sample(fraction = 0.05, withReplacement=False)

In [137]:
df_util_sample.count()

24998

# Exploratory data analysis with spark SQL

In [138]:
spark.sql('select min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) from utilization').show()

+--------------------+--------------------+-----------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+--------------------+--------------------+-----------------------+
|                0.22|                 1.0|    0.15875173872912945|
+--------------------+--------------------+-----------------------+

In [140]:
spark.sql('select server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
            from utilization \
            group by server_id').show()

+---------+--------------------+--------------------+-----------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+---------+--------------------+--------------------+-----------------------+
|      103|                0.56|                0.96|    0.11617507884178278|
|      104|                0.51|                0.91|    0.11521679513850511|
|      106|                0.22|                0.62|    0.11531539914568226|
|      100|                0.27|                0.67|     0.1152264191787964|
|      105|                0.29|                0.69|    0.11510721467869486|
|      101|                 0.6|                 1.0|    0.11651726263197697|
|      102|                0.56|                0.96|    0.11549678751286807|
|      112|                0.52|                0.92|    0.11528867845082576|
|      113|                0.58|                0.98|    0.11544345150353687|
|      110|                0.35|                0.75|    0.11533251724450215|
|      107|                0.45|                0.85|    0.11597417369783877|
|      111|                0.36|                0.76|    0.11530221569464506|
|      108|                0.55|                0.95|    0.11563100171171926|
|      109|                0.36|                0.76|    0.11574898623219722|
|      119|                0.22|                0.62|    0.11516031929842008|
|      116|                 0.3|                 0.7|    0.11506079722349302|
|      114|                0.33|                0.73|    0.11510268816097273|
|      115|                0.44|                0.84|    0.11569664615014985|
|      120|                0.35|                0.75|    0.11586355920838642|
|      118|                0.53|                0.93|    0.11474318421515234|
+---------+--------------------+--------------------+-----------------------+
only showing top 20 rows

# Timeseries analysis

In [141]:
spark.sql('select server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
            from utilization \
          group by server_id').show()

+---------+--------------------+--------------------+-----------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+---------+--------------------+--------------------+-----------------------+
|      103|                0.56|                0.96|    0.11617507884178278|
|      104|                0.51|                0.91|    0.11521679513850511|
|      106|                0.22|                0.62|    0.11531539914568226|
|      100|                0.27|                0.67|     0.1152264191787964|
|      105|                0.29|                0.69|    0.11510721467869486|
|      101|                 0.6|                 1.0|    0.11651726263197697|
|      102|                0.56|                0.96|    0.11549678751286807|
|      112|                0.52|                0.92|    0.11528867845082576|
|      113|                0.58|                0.98|    0.11544345150353687|
|      110|                0.35|                0.75|    0.11533251724450215|
|      107|                0.45|                0.85|    0.11597417369783877|
|      111|                0.36|                0.76|    0.11530221569464506|
|      108|                0.55|                0.95|    0.11563100171171926|
|      109|                0.36|                0.76|    0.11574898623219722|
|      119|                0.22|                0.62|    0.11516031929842008|
|      116|                 0.3|                 0.7|    0.11506079722349302|
|      114|                0.33|                0.73|    0.11510268816097273|
|      115|                0.44|                0.84|    0.11569664615014985|
|      120|                0.35|                0.75|    0.11586355920838642|
|      118|                0.53|                0.93|    0.11474318421515234|
+---------+--------------------+--------------------+-----------------------+
only showing top 20 rows

In [170]:
sql_window = spark.sql('select event_datetime, server_id, cpu_utilization, \
            avg(cpu_utilization) OVER (partition by server_id) abg_server_util, \
            cpu_utilization - avg(cpu_utilization) over(partition by server_id) delta_server_util \
            from utilization')

In [171]:
sql_window[sql_window.server_id == 120]

DataFrame[event_datetime: string, server_id: bigint, cpu_utilization: double, abg_server_util: double, delta_server_util: double]

In [173]:
sql_window3 = spark.sql('select event_datatime, server_id, cpu_utilization, \
                        avg(cpu_utilization) over (partition by server_id order by event_datetime \
                        rows between 1 preceding and 1 following) ave_server_util \
                        from utilization')

AnalysisException: Column 'event_datatime' does not exist. Did you mean one of the following? [utilization.event_datetime, utilization.server_id, utilization.free_memory, utilization.cpu_utilization, utilization.session_count]; line 1 pos 7;
'Project ['event_datatime, server_id#492L, cpu_utilization#489, avg(cpu_utilization#489) windowspecdefinition(server_id#492L, event_datetime#490 ASC NULLS FIRST, specifiedwindowframe(RowFrame, -1, 1)) AS ave_server_util#2322]
+- SubqueryAlias utilization
   +- View (`utilization`, [cpu_utilization#489,event_datetime#490,free_memory#491,server_id#492L,session_count#493L])
      +- Relation [cpu_utilization#489,event_datetime#490,free_memory#491,server_id#492L,session_count#493L] json

# Machine Learning

In [176]:
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

In [202]:
spark = SparkSession.builder.getOrCreate()
data_path = '/Users/taehyun/Dropbox/Springboard/NYC_Capstone_project/Spark/Exercise Files/Data'
json_df2_path = data_path + '/utlization.json'
df_util = spark.read.format('json').load(json_df2_path)

In [203]:
df_util

DataFrame[cpu_utilization: double, event_datetime: string, free_memory: double, server_id: bigint, session_count: bigint]

In [204]:
df_util.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [205]:
df_util.createOrReplaceTempView('utilization')

In [208]:
vecAssembler = VectorAssembler(outputCol = 'features')
vecAssembler.setInputCols(['cpu_utilization','free_memory','session_count'])

VectorAssembler_6bc8ab7bd463

In [209]:
vcluster_df = vecAssembler.transform(df_util)

In [212]:
vcluster_df.show()

+---------------+-------------------+-----------+---------+-------------+----------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|        features|
+---------------+-------------------+-----------+---------+-------------+----------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|[0.57,0.51,47.0]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|[0.47,0.62,43.0]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|[0.56,0.57,62.0]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|[0.57,0.56,50.0]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|[0.35,0.46,43.0]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|[0.41,0.58,48.0]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|[0.57,0.35,58.0]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58| [0.41,0.4,58.0]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|[0.53,0.35,62.0]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45| [0.51,0.6,45.0]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|[0.32,0.37,47.0]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|[0.62,0.59,60.0]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|[0.66,0.72,57.0]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|[0.54,0.54,44.0]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47| [0.29,0.4,47.0]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|[0.43,0.68,66.0]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|[0.49,0.66,65.0]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|[0.64,0.55,66.0]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42| [0.42,0.6,42.0]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|[0.55,0.59,63.0]|
+---------------+-------------------+-----------+---------+-------------+----------------+
only showing top 20 rows

We transform to vectors because ml algorithms in spark expect the input to be single vectors

Or array

In [213]:
kmeans = KMeans().setK(3)

In [214]:
kmeans = kmeans.setSeed(1)

In [215]:
kmodel = kmeans.fit(vcluster_df)

In [217]:
# 'cpu_utilization','free_memory','session_count'
kmodel.clusterCenters()

[array([ 0.52047775,  0.47836303, 51.79927162]),
 array([ 0.62881549,  0.37094643, 70.43030159]),
 array([ 0.71931575,  0.28104316, 88.23965784])]

# Linear Regression

In [237]:
from pyspark.ml.regression import LinearRegression

In [233]:
vecAssembler = VectorAssembler(outputCol = 'features')
vecAssembler.setInputCols(['cpu_utilization'])
vcluster_df = vecAssembler.transform(df_util)

In [235]:
vcluster_df.show()

+---------------+-------------------+-----------+---------+-------------+--------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|features|
+---------------+-------------------+-----------+---------+-------------+--------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|  [0.57]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|  [0.47]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|  [0.56]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|  [0.57]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|  [0.35]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|  [0.41]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|  [0.57]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|  [0.41]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|  [0.53]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|  [0.51]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|  [0.32]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|  [0.62]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|  [0.66]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|  [0.54]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|  [0.29]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|  [0.43]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|  [0.49]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|  [0.64]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|  [0.42]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|  [0.55]|
+---------------+-------------------+-----------+---------+-------------+--------+
only showing top 20 rows

In [238]:
lr = LinearRegression(featuresCol = 'features',labelCol = 'session_count')

In [242]:
lrModel = lr.fit(vcluster_df)
lrModel

22/11/02 00:05:15 WARN Instrumentation: [965ff243] regParam is zero, which might cause numerical instability and overfitting.

LinearRegressionModel: uid=LinearRegression_e5b0c169f474, numFeatures=1

In [243]:
lrModel.coefficients

DenseVector([47.024])

In [244]:
lrModel.intercept

40.41695103556804

In [245]:
lrModel.summary.rootMeanSquaredError

12.837990225931815