In [2]:
import pandas as pd

In [3]:
speed = [0.1, 17.5, 40, 48, 52, 69, 88]
lifespan = [2, 8, 70, 1.5, 25, 12, 28]
index = ['snail', 'pig', 'elephant',
         'rabbit', 'giraffe', 'coyote', 'horse']
df = pd.DataFrame({'speed': speed,
                   'lifespan': lifespan}, index=index)
df

          speed  lifespan
snail       0.1       2.0
pig        17.5       8.0
elephant   40.0      70.0
rabbit     48.0       1.5
giraffe    52.0      25.0
coyote     69.0      12.0
horse      88.0      28.0

In [9]:
len(g[0])

2

In [11]:
len(g)

1

In [15]:
s = "ab#c"
t = "ad#c"

In [16]:
stack = []

In [17]:
for c in s:
    if c == '#':
        if stack:
            stack.pop()
    stack.append(c)

In [18]:
stack

['a', '#', 'c']

In [20]:
dict(day=["Thur", "Fri", "Sat", "Sun"])

{'day': ['Thur', 'Fri', 'Sat', 'Sun']}